app/vendor/
dist/
.settings/
.idea/
node_modules/
build/
.tmp/
bower_components/
manifest-build/common
manifest-build/img
manifest-build/manifest
manifest-build/*.json
manifest-build/*.txt
manifest-build/manifest.zip

!do-not-delete.txt
!manifest-build/img/misc/missing_icon.png
