<!doctype html>
<html lang="" ng-app="dimApp" ng-csp>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>DIM v3</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>

<body ng-app="dimApp" ng-strict-di>
  <div ng-controller="dimAppCtrl as app" ng-click="app.about = false; trackActivity()">
    <div id="header">
      <div class="content">
        <span class="header-right">
          <div dim-platform-choice class="header-right"></div>
          <div dim-search-filter class="header-right"></div>
          <div class="header-right">
            <span class="link" ng-click="app.showFilters($event)">Filters</span>
          </div>
        </span>
        <span>Destiny Item Manager v3</span>
        <span class="link" ng-click="app.showAbout($event)">About</span>
        <span class="link" ng-click="app.showSupport($event)">Support DIM</span>
        <span class="link" ng-click="app.refresh()">Refresh</span>
        <div class="my-super-awesome-loading-box" ng-show="loadingTracker.active()">
          <img src="images/712.gif" style="width: 22px !important; height: 22px !important;" alt="" />
        </div>
      </div>
    </div>
    <toaster-container toaster-options="{ 'time-out': 10000, limit: 6 }"></toaster-container>
    <div class="about modal-dialog" ng-show="app.about"></div>
    <div class="donate modal-dialog" ng-show="app.donate"></div>
    <div class="filters modal-dialog" ng-show="app.filters"></div>
    <div id="content" ui-view></div>
  </div>

  <!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-messages/angular-messages.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-touch/angular-touch.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/angular-chrome-storage/angular-chrome-storage.js"></script>
  <script src="bower_components/angular-native-dragdrop/draganddrop.js"></script>
  <script src="bower_components/angularjs-toaster/toaster.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="bower_components/Angular.uuid2/dist/angular-uuid2.min.js"></script>
  <script src="bower_components/ngDialog/js/ngDialog.js"></script>
  <script src="bower_components/lz-string/libs/lz-string.min.js"></script>
  <script src="bower_components/angular-promise-tracker/promise-tracker.js"></script>
  <script src="bower_components/verge/verge.js"></script>
  <script src="bower_components/ScrollToFixed/jquery-scrolltofixed.js"></script>
  <script src="bower_components/AngularJS-Toaster/toaster.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="scripts/dimApp.module.js"></script>
  <script src="scripts/dimApp.config.js"></script>
  <script src="scripts/services/dimRateLimit.factory.js"></script>
  <script src="scripts/services/dimBungieService.factory.js"></script>
  <script src="scripts/services/dimItemDefinitions.factory.js"></script>
  <script src="scripts/services/dimTalentDefinitions.factory.js"></script>
  <script src="scripts/services/dimPlatformService.factory.js"></script>
  <script src="scripts/services/dimLoadoutService.factory.js"></script>
  <script src="scripts/services/dimStoreService.factory.js"></script>
  <script src="scripts/services/dimItemService.factory.js"></script>
  <script src="scripts/loadout/dimLoadout.directive.js"></script>
  <script src="scripts/loadout/dimLoadoutPopup.directive.js"></script>
  <script src="scripts/shell/dimAppCtrl.controller.js"></script>
  <script src="scripts/shell/dimPlatformChoice.directive.js"></script>
  <script src="scripts/shell/dimSearchFilter.directive.js"></script>
  <script src="scripts/shell/dimClickAnywhereButHere.directive.js"></script>
  <script src="scripts/store/dimStores.directive.js"></script>
  <script src="scripts/store/dimStoreItems.directive.js"></script>
  <script src="scripts/store/dimStoreItem.directive.js"></script>
  <script src="scripts/store/dimStoreHeading.directive.js"></script>
  <script src="scripts/move-popup/dimMovePopup.directive.js"></script>
  <script src="scripts/move-popup/dimMoveItemProperties.directive.js"></script>
  <script src="scripts/google.js"></script>
  <!-- endbuild -->
</body>

</html>
